html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
body {
    color: var(--white);
}
a {
    display: block;
    outline: 0;
    text-decoration: none;
    &:focus, &:hover {
        color: inherit;
        text-decoration: none;
        outline: 0;
    }
}
button {
    border: none;
    cursor: pointer;
    outline: 0;
    &:focus, &:hover, &:active {
        outline: none !important;
        box-shadow: none !important;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}
img {
    display: block;
}
input, textarea {
    border: none;
    outline: none;
}
p {
    margin: 0;
}
textarea {
    resize: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}