@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-bold-webfont.woff2') format('woff2'),
        url('../fonts/lato-bold-webfont.woff') format('woff'),
        url('../fonts/lato-bold-webfont.ttf') format('truetype'),
        url('../fonts/lato-bold-webfont.svg#Lato-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Italic';
    src: url('../fonts/Lato-Italic.eot');
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Italic.woff2') format('woff2'),
        url('../fonts/Lato-Italic.woff') format('woff'),
        url('../fonts/Lato-Italic.ttf') format('truetype'),
        url('../fonts/Lato-Italic.svg#Lato-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/Lato-Light.eot');
    src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff'),
        url('../fonts/Lato-Light.ttf') format('truetype'),
        url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Medium';
    src: url('../fonts/Lato-Medium.eot');
    src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Medium.woff2') format('woff2'),
        url('../fonts/Lato-Medium.woff') format('woff'),
        url('../fonts/Lato-Medium.ttf') format('truetype'),
        url('../fonts/Lato-Medium.svg#Lato-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-regular-webfont.woff2') format('woff2'),
        url('../fonts/lato-regular-webfont.woff') format('woff'),
        url('../fonts/lato-regular-webfont.ttf') format('truetype'),
        url('../fonts/lato-regular-webfont.svg#SkratchPunk') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Semibold';
    src: url('../fonts/Lato-Semibold.eot');
    src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Semibold.woff2') format('woff2'),
        url('../fonts/Lato-Semibold.woff') format('woff'),
        url('../fonts/Lato-Semibold.ttf') format('truetype'),
        url('../fonts/Lato-Semibold.svg#Lato-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuroSlant';
    src: url('../fonts/Muro-Slant.eot');
    src: url('../fonts/Muro-Slant.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Muro-Slant.woff2') format('woff2'),
        url('../fonts/Muro-Slant.woff') format('woff'),
        url('../fonts/Muro-Slant.ttf') format('truetype'),
        url('../fonts/Muro-Slant.svg#Muro-Slant') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SkratchPunk';
    src: url('../fonts/SkratchPunk.eot');
    src: url('../fonts/SkratchPunk.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SkratchPunk.woff2') format('woff2'),
        url('../fonts/SkratchPunk.woff') format('woff'),
        url('../fonts/SkratchPunk.ttf') format('truetype'),
        url('../fonts/SkratchPunk.svg#SkratchPunk') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Fonts
$Lato-B         : 'Lato Bold';
$Lato-I         : 'Lato Italic';
$Lato-L         : 'Lato Light';
$Lato-Med       : 'Lato Medium';
$Lato-R         : 'Lato Regular';
$Lato-SB        : 'Lato Semibold';
$MuroSlant      : 'MuroSlant';
$SkratchPunk    : 'SkratchPunk';