section {
    position: relative;
    width: 100%;
}
.main {
    background-color: var(--rusty-red);
}
.view {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.title {
    font-family: $SkratchPunk;
    text-transform: uppercase;
}
.page {
    &__title {
        position: absolute;
        top: 10.3125rem;
    }
    &__titleHeading {
        color: var(--black);
        font : {
            family: $MuroSlant;
            size: 13.75rem;
        }
        letter-spacing: 5.5px;
        line-height: 0.91;
        opacity: 0.09;
        > span {
            display: block;
        }
    }
}
.form-control {
    border: 3px solid var(--deep-red);
    border-radius: 30px;
    color: var(--warm-grey);
    font-family: $Lato-I;
    height: 60px;
    padding: .375rem 1.625rem;
    &:focus {
        border-color: var(--orange) !important;
        box-shadow: none !important;
    }
}