@media (min-width: 1200px) {
    .cnn {
        &__search {
            flex: 0 0 38.333333%;
            max-width: 38.333333%;
        }
    }
}
@media (max-width: 1440px) {
    .page {
        &__titleHeading {
            font-size: 12.5rem;
        }
        &__header {
            &__title {
                font-size: 4.5rem;
            }
        }
        &__card {
            .card {
                &-title {
                    font-size: 2.25rem;
                }
                &-text {
                    font-size: 1.125rem;
                }
            }
        }
        &__cardButton {
            bottom: 1.5rem;
            font-size: 1rem;
            height: 5rem;
            right: -2.5rem;
            width: 5rem;
        }
    }
    .cnn {
        &__actionPage {
            font-size: 1.25rem;
        }
        &__list {
            margin: 5rem -3rem 0 -3rem;
            > .item {
                padding : {
                    left: 3rem;
                    right: 3rem;
                }
            }
        }
    }
    .shop {
        &__thumb {
            margin-top: 8vh;
        }
    }
    .contactUs {
        &__container {
            font-size: 1rem;
            > div[class*="col"] {
                padding : {
                    left: 4.5rem;
                    right: 4.5rem;
                }
            }
        }
        &__header {
            margin-bottom: 2.25rem;
        }
    }
    .pageBanner {
        &__caption {
            font-size: 1.125rem;
        }
        &__videoBtn {
            .icon {
                height: 6rem;
                width: 6rem;
                > i {
                    font-size: 3.5rem;
                }
            }
            .text {
                font-size: 1.25rem;
                height: 4rem;
                padding: 0 3.75rem;
            }
        }
    }
    .about {
        &__elements {
            > div {
                transform: scale(.875);
            }
            .ellipse {
                &-1 {
                    right: -5rem;
                }
                &-2 {
                    left: 4rem;
                    top: 45%;
                }
                &-3 {
                    left: -1rem;
                    top: 79%;
                }
            }
            .wave-line {
                left: -15rem;
                top: 44%;
            }
        }
        &__details {
            font-size: 1.125rem;
        }
    }
    .newsDetail {
        &__text {
            margin-bottom: 4rem;
            .breadcrumb {
                font-size: 1.25rem;
                padding: 0;
            }
        }
        &__title {
            font-size: 3.75rem;
        }
        &__share {
            margin-bottom: 3rem;
            > span {
                font-size: 1.125rem;
            }
        }
        &__article {
            font-size: 1.25rem;
        }
    }
}
@media (max-width: 1366px) {
    .whatsNew {
        &__list {
            min-height: 120vh;
        }
    }
}
@media (max-width: 1280px) {
    .shop {
        &__heading {
            font-size: 3.5rem;
        }
    }
    .pageBanner {
        &__title {
            font-size: 3.75rem;
        }
        &__caption {
            font-size: 1rem;
        }
    }
    .about {
        &__elements {
            .ellipse {
                &-2 {
                    top: 41%;
                }
                &-3 {
                    top: 77%;
                }
            }
            .wave-line {
                top: 37%;
            }
        }
        &__details {
            font-size: 1rem;
            padding-top: 6rem;
        }
        &__heading {
            font-size: 3.75rem;
        }
        &__desc {
            > p {
                margin-bottom: 1.25rem;
            }
        }
    }
    .whatsNew {
        &__heading {
            font-size: 3.75rem;
        }
        &__list {
            min-height: 100vh;
        }
    }
    .newsDetail {
        &__cover {
            height: 75vh;
        }
        &__text {
            margin-bottom: 3rem;
        }
        &__title {
            font-size: 3.5rem;
        }
        &__backToTop {
            height: 7rem;
            width: 7rem;
            span {
                font-size: 1.25rem;
            }
        }
    }
}
@media (max-width: 1199px) {
    .form-control {
        height: 50px;
    }
    .page {
        &__titleHeading {
            font-size: 11rem;
        }
        &__header {
            &__title {
                font-size: 4rem;
            }
        }
        &__card {
            .card {
                &-title {
                    font-size: 2rem;
                }
                &-text {
                    font-size: 1rem;
                }
            }
        }
        &__cardButton {
            bottom: 1.25rem;
            height: 4.5rem;
            right: -2.25rem;
            width: 4.5rem;
        }
    }
    .cnn {
        &__actionPage {
            font-size: 1.125rem;
        }
        &__sort {
            &__dropdown {
                > button {
                    height: 50px;
                }
            }
        }
        &__search {
            &__button {
                > i {
                    font-size: 2.25rem;
                }
            }
        }
        &__list {
            margin: 4rem -2.5rem 0 -2.5rem;
            > .item {
                padding : {
                    left: 2.5rem;
                    right: 2.5rem;
                }
            }
        }
    }
    .contactUs {
        &__container {
            > div[class*="col"] {
                padding : {
                    left: 3rem;
                    right: 3rem;
                }
            }
        }
    }
    .pageBanner {
        &__title {
            font-size: 3.5rem;
        }
        &__videoBtn {
            .icon {
                height: 5rem;
                width: 5rem;
                > i {
                    font-size: 3rem;
                }

            }
            .text {
                font-size: 1.125rem;
                height: 3.5rem;
            }
        }
    }
    .about {
        &__elements {
            .wave-line {
                top: 34%;
            }
        }
        &__heading {
            font-size: 3.5rem;
        }
    }
    .whatsNew {
        &__heading {
            font-size: 3.5rem;
        }
    }
    .newsDetail {
        &__cover {
            height: 70vh;
        }
        &__text {
            .breadcrumb {
                font-size: 1.125rem;
            }
        }
        &__title {
            font-size: 3rem;
        }
        &__share {
            &__to {
                height: 45px;
                width: 45px;
            }
            > span {
                font-size: 1rem;
                line-height: 3;
            }
        }
        &__article {
            font-size: 1.125rem;
        }
        &__backToTop {
            height: 6rem;
            right: -8rem;
            width: 6rem;
            i {
                font-size: 2.25rem;
                margin-bottom: 0;
            }
            span {
                font-size: 1.125rem;
            }
        }
    }
}
@media (max-width: 991px) {
    .cnn {
        &__sort {
            &__dropdown {
                > button {
                    min-width: 220px;
                    + .dropdown-menu {
                        min-width: 220px;
                    }
                }
            }
        }
    }
    .shop {
        &__inner {
            flex-direction: column-reverse;
        }
        &__heading {
            font-size: 2.5rem;
            text-align: center;
        }
        &__stores {
            margin-top: 1.25rem;
            > div[class*="col"] {
                margin: .75rem 0;
            }
        }
    }
    .contactUs {
        &__wrapper {
            &:before {
                width: 100%;
            }
            &:after {
                display: none;
            }
        }
        &__container {
            flex-direction: column;
        }
        &__message {
            margin-bottom: 3.5rem;
        }
        &__heading {
            text-align: left;
        }
        &__information {
            border-top: 3px solid var(--sunflower);
            padding-top: 3.5rem;
        }
    }
    .newsDetail {
        &__backToTop {
            bottom: -3rem;
            right: -7rem;
        }
    }
}
@media (max-width: 991px) {
    .pageBanner {
        &__inner {
            &__contentBlock {
                justify-content: center;
            }
            &__detail {
                text-align: center;
            }
        }
        &__caption {
            font-size: 1.5rem;
        }
    }
    .about {
        &__elements {
            .wave-line {
                top: 44%;
            }
        }
        &__details {
            font-size: 1.5rem;
        }
    }
    .whatsNew {
        &__header {
            justify-content: center;
        }
        &__heading {
            margin-bottom: 0;
            text-align: center;
        }
        &__list {
            min-height: 50vh;
        }
    }
    .newsDetail {
        &__cover {
            height: 60vh;
        }
        &__text {
            > .container-fluid {
                padding : {
                    left: 3rem;
                    right: 3rem;
                }
            }
        }
        &__title {
            line-height: normal;
        }
        &__backToTop {
            right: -4rem;
        }
    }
}
@media (max-width: 812px) and (orientation: landscape) {
    .pageBanner {
        &__inner {
            &__contentBlock {
                justify-content: unset;
            }
            &__detail {
                text-align: left;
            }
        }
        &__title {
            font-size: 3rem;
        }
        &__caption {
            font-size: 1rem;
            line-height: 1.5;
            margin: 1rem 0;
        }
    }
    .about {
        &__elements {
            .wave-line {
                top: 31%;
            }
        }
        &__details {
            font-size: 1rem;
        }
        &__heading {
            font-size: 3rem;
        }
        &__desc {
            line-height: 1.5;
        }
    }
    .whatsNew {
        &__heading {
            font-size: 3rem;
        }
    }
    .newsDetail {
        &__cover {
            height: 90vh;
        }
        &__text {
            margin-bottom: 2rem;
            .breadcrumb {
                font-size: 1rem;
            }
        }
        &__title {
            font-size: 2.5rem;
        }
        &__article {
            font-size: 1rem;
            > p {
                margin-bottom: 2rem;
            }
        }
        &__backToTop {
            bottom: -6rem;
        }
    }
}
@media (max-width: 768px) {
    .page {
        &__card {
            margin-bottom: 2.5rem;
        }
    }
    .shop {
        &__heading {
            font-size: 3rem;
        }
    }
    .pageBanner {
        &__title {
            font-size: 3rem;
        }
        &__caption {
            font-size: 1.25rem;
        }
    }
    .about {
        &__details {
            font-size: 1.25rem;
        }
        &__heading {
            font-size: 3rem;
        }
    }
    .whatsNew {
        &__heading {
            font-size: 3rem;
        }
    }
    .newsDetail {
        &__backToTop {
            bottom: 0;
            margin-bottom: -9rem;
        }
    }
}
@media (max-width: 767px) {
    .cnn {
        &__actionPage {
            align-items: flex-end;
        }
        &__sort {
            align-items: unset !important;
            flex-direction: column;
            > span {
                margin-bottom: .75rem;
            }
            &__dropdown {
                margin-left: 0;
            }
        }
        &__list {
            justify-content: center;
            margin: 4rem auto 0;
            width: 90%;
            > .item {
                padding : {
                    left: 2.5rem;
                    right: 2.5rem;
                }
                &:nth-child(odd) {
                    .page {
                        &__cardButton {
                            bottom: unset;
                            top: 1.25rem;
                        }
                    }
                }
            }
        }
    }
    .contactUs {
        &__list {
            > li {
                margin-bottom: 1rem;
            }
        }
    }
    .pageBanner {
        &__caption {
            line-height: normal;
        }
    }
    .about {
        &__elements {
            > div {
                transform: scale(.75);
            }
            .ellipse {
                &-1 {
                    right: -6rem;
                }
                &-2 {
                    left: -1rem;
                    top: 43%;
                }
                &-3 {
                    left: -4rem;
                    top: 79%;
                }
            }
            .wave-line {
                left: -24rem;
                top: 36%;
            }
        }
        &__desc {
            line-height: normal;
        }
    }
    .whatsNew {
        &__list {
            > .item {
                .page {
                    &__cardButton {
                        bottom: unset;
                        top: 1.25rem;
                    }
                }
                &:first-child, &:last-child {
                    .page {
                        &__card {
                            flex-direction: column;
                        }
                    }
                }
            }
        }
    }
    .newsDetail {
        &__text {
            > .container-fluid {
                padding : {
                    left: 2rem;
                    right: 2rem;
                }
            }
        }
        &__backToTop {
            height: 5rem;
            margin-bottom: -6rem;
            right: -1rem;
            width: 5rem;
            i {
                font-size: 2rem;
            }
            span {
                font-size: 1rem;
            }
        }
    }
}
@media (max-width: 736px) {
    .pageBanner {
        &__caption {
            font-size: 1rem;
        }
    }
    .about {
        &__elements {
            .ellipse {
                &-3 {
                    top: 76%;
                }
            }
            .wave-line {
                top: 24%;
            }
        }
        &__details {
            font-size: 1rem;
        }
    }
}
@media (max-width: 640px) {
    .cnn {
        &__sort {
            &__dropdown {
                > button {
                    min-width: 200px;
                    + .dropdown-menu {
                        min-width: 200px;
                    }
                }
            }
        }
    }
    .page {
        &__titleHeading {
            font-size: 7rem;
        }
    }
}
@media (max-width: 492px) {
    .form-control {
        padding: 0.375rem 1.25rem;
    }
    .page {
        &__title {
            top: 6rem;
        }
        &__titleHeading {
            font-size: 6rem;
        }
        &__header {
            &__title {
                font-size: 3rem;
            }
        }
    }
    .cnn {
        &__actionPage {
            font-size: 1rem;
            margin: 2rem 1rem 0;
            > div[class*="col"] {
                padding : {
                    left: .25rem;
                    right: .25rem;
                }
            }
        }
        &__sort {
            &__dropdown {
                > button {
                    min-width: 160px;
                    padding: 0.375rem 1.25rem;
                    + .dropdown-menu {
                        min-width: 160px;
                    }
                }
            }
        }
        &__search {
            &__form {
                .form-control {
                    padding-right: 3.5rem;
                }
            }
        }
        &__list {
            width: 100%;
        }
    }
    .shop {
        &__inner {
            margin: auto;
            width: 90%;
        }
        &__heading {
            font-size: 2rem;
        }
    }
    .contactUs {
        &__container {
            > div[class*="col"] {
                padding : {
                    left: 2rem;
                    right: 2rem;
                }
            }
        }
    }
    .pageBanner {
        &__title {
            margin: auto;
            max-width: 75%;
        }
    }
    .about {
        &__elements {
            > div {
                transform: scale(.5);
            }
            .ellipse {
                &-2 {
                    left: -2rem;
                    top: 47%;
                }
                &-3 {
                    left: -5rem;
                }
            }
            .wave-line {
                left: -39rem;
                top: 25%;
            }
        }
        &__heading {
            font-size: 2.5rem;
        }
    }
    .newsDetail {
        &__text {
            > .container-fluid {
                padding : {
                    left: 15px;
                    right: 15px;
                }
            }
            &__wrapper {
                justify-content: center;
            }
        }
        &__title {
            font-size: 2.5rem;
        }
        &__article {
            line-height: normal;
        }
        &__backToTop {
            margin-bottom: -9rem;
        }
    }
}
@media (max-width: 480px) {
    .pageBanner {
        &__title {
            font-size: 2.25rem;
            max-width: 60%;
        }
        &__caption {
            font-size: 1rem;
        }
    }
    .about {
        &__heading {
            font-size: 2.25rem;
        }
    }
    .whatsNew {
        &__heading {
            font-size: 2.25rem;
        }
    }
}
@media (max-width: 414px) {
    .cnn {
        &__sort {
            &__dropdown {
                > button {
                    min-width: 130px;
                    + .dropdown-menu {
                        min-width: 130px;
                    }
                }
            }
        }
        &__search {
            &__button {
                right: .5rem;
            }
        }
    }
    .contactUs {
        &__container {
            font-size: .875rem;
        }
    }
    .pageBanner {
        &__videoBtn {
            .icon {
                height: 4rem;
                width: 4rem;
                > i {
                    font-size: 2.5rem;
                }
            }
            .text {
                margin-left: -3rem;
                padding: 0 2.5rem;
                > span {
                    left: 1.125rem;
                }
            }
        }
    }
    .about {
        &__elements {
            > div {
                transform: scale(.375);
            }
            .ellipse {
                &-3 {
                    top: 81%;
                }
            }
            .wave-line {
                left: -46rem;
                top: 33%;
            }
        }
        &__heading {
            font-size: 2rem;
        }
    }
    .newsDetail {
        &__text {
            margin-bottom: 2rem;
            .breadcrumb {
                font-size: 1rem;
            }
        }
        &__title {
            font-size: 2rem;
        }
        &__share {
            > span {
                font-size: .875rem;
            }
            &__list {
                > li {
                    margin: 0 .5rem;
                }
            }
        }
        &__article {
            font-size: 1rem;
        }
    }
}
@media (max-width: 384px) {
    .page {
        &__titleHeading {
            font-size: 5rem;
        }
        &__card {
            .card {
                &-title {
                    font-size: 1.5rem;
                }
                &-text {
                    font-size: .875rem;
                }
            }
        }
        &__cardButton {
            font-size: 12px;
            height: 3.5rem;
            padding: .375rem .5rem;
            right: -1.75rem;
            width: 3.5rem;
        }
    }
    .about {
        &__heading {
            font-size: 1.75rem;
        }
    }
    .newsDetail {
        &__share {
            &__to {
                height: 40px;
                width: 40px;
            }
        }
    }
}
@media (max-width: 360px) {
    .cnn {
        &__actionPage {
            margin: 2rem .25rem 0;
        }
    }
    .pageBanner {
        &__title {
            max-width: 80%;
        }
    }
    .newsDetail {
        &__text {
            .breadcrumb {
                font-size: .875rem;
            }
        }
        &__title {
            font-size: 1.75rem;
        }
        &__share {
            > span {
                font-size: .75rem;
            }
            &__list {
                > li {
                    margin: 0 .375rem;
                }
            }
        }
        &__article {
            font-size: .875rem;
        }
    }
}
@media (max-width: 320px) {
    .newsDetail {
        &__share {
            &__list {
                margin-left: .5rem;
                > li {
                    margin: 0 .25rem;
                }
            }
        }
    }
}