@import '_fonts';
@import '_default';
@import '_helper';

:root {
    --white: #ffffff;
    --lipstick: #c6222d;
    --sunshine-yellow: #feec32;
    --sun-yellow: #f7dc2d;
    --rouge: #a81d22;
    --black: #000000;
    --electric-blue: #0055ff;
    --vivid-green: #3cdf0a;
    --darkish-red: #a2040a;
    --rusty-red: #c41b17;
    --pinkish-grey: #d1d1d1;
    --white-two: #f9f9f9;
    --white-three: #fcfcfc;
    --greyish: #b4b4b4;
    --sunflower: #ffcb09;
    --deep-red: #b00101;
    --warm-grey: #939393;
    --orange: #e8640e;
    --silver: #e7e8ea;

    --viewportHeight: 100vh;
}

// General SCSS
.banner {
    background : {
        color: var(--rusty-red);
        image: url(../images/banner/background.png);
        position: 341px 0px;
        repeat: no-repeat;
    }
    height: var(--viewportHeight);
    &__block {
        flex: 0 0 50%;
        flex-grow: 1;
        max-width: 50%;
    }
    &__hero {
        position: relative;
    }
    &__heroImage {
        position: absolute;
    }
}

// Campaign & News Page
.page {
    min-height: var(--viewportHeight);
    position: relative;
    &__header {
        &__title {
            font-size: 5rem;
        }
    }
    &__card {
        background-color: transparent;
        border: none;
        margin-bottom: 4.75rem;
        .card {
            &-thumb {
                box-shadow: -20px 20px 20px 0 rgba(0, 0, 0, 0.16);
                position: relative;
            }
            &-body {
                padding : {
                    left: 0;
                    right: 0;
                }
            }
            &-title {
                font-size: 2.8125rem;
                > a {
                    color: var(--white);
                    font-family: $MuroSlant;
                    letter-spacing: 1.13px;
                    line-height: 1.11;
                }
            }
            &-text {
                font : {
                    family: $Lato-L;
                    size: 1.3125rem;
                    weight: 300;
                }
                letter-spacing: 0.53px;
                line-height: 1.19;
            }
        }
    }
    &__cardButton {
        background-color: var(--sunshine-yellow);
        border-radius: 50%;
        bottom: 2rem;
        color: var(--lipstick);
        font : {
            family: $Lato-B;
            size: 21px;
            weight: bold;
        }
        height: 6.25rem;
        line-height: 1.05;
        position: absolute;
        right: -3.125rem;
        text-transform: uppercase;
        width: 6.25rem;
        &:focus, &:hover {
            color: var(--lipstick);
        }
    }
}
.cnn {
    padding-top: 6rem;
    &__actionPage {
        font : {
            family: $Lato-R;
            size: 1.5rem;
        }
        margin-top: 4rem;
    }
    &__sort {
        > span {
            font-family: $Lato-B;
        }
        &__dropdown {
            margin-left: 1rem;
            > button {
                border: 2px solid var(--white);
                border-radius: 30px;
                color: var(--white);
                font-size: inherit;
                height: 60px;
                min-width: 260px;
                padding: .375rem 1.625rem;
                text-align: left;
                &:after {
                    border : {
                        top: .5rem solid var(--sunflower);
                        left: .5rem solid transparent;
                        right: .5rem solid transparent;
                    }
                    vertical-align: middle;
                }
                &:focus, &:hover {
                    color: var(--white);
                }
                + .dropdown-menu {
                    min-width: 260px;
                }
            }
        }
    }
    &__search {
        &__form {
            .form-group {
                margin-bottom: 0;
            }
            .form-control {
                font : {
                    size: inherit;
                    style: italic;
                }
                padding-right: 4rem;
            }
        }
        &__button {
            display: flex;
            position: absolute;
            right: 1rem;
            top: 50%;

            transform: translateY(-50%);
            > i {
                color: var(--rusty-red);
                font : {
                    size: 2.5rem;
                    weight: bold;
                }
            }
        }
    }
    &__list {
        margin: 5rem -5.625rem 0 -5.625rem;
        > .item {
            padding : {
                left: 5.625rem;
                right: 5.625rem;
            }

            clip-path: inset(0 0 100% 0);
            transition: .25s cubic-bezier(.25,.46,.45,.94);
            transition-delay: 0s;
        }
        &.active {
            > .item {
                clip-path: inset(0 0 0 0);
                transition: .75s cubic-bezier(.25,.46,.45,.94);
                &:nth-child(3n+1) {
                    transition-delay: .4s;
                }
                &:nth-child(3n+2) {
                    transition-delay: .6s;
                }
                &:nth-child(3n+3) {
                    transition-delay: .5s;
                }
            }
        }
    }
}

// Shop Page
.shop {
    &__wrapper {
        background: url(../images/background/shop.jpg) no-repeat center;
        background-size: cover;
        min-height: var(--viewportHeight);
    }
    &__thumb {
        margin-top: 18vh;
    }
    &__heading {
        font : {
            size: 4rem;
        }
    }
    &__stores {
        margin-top: 2.25rem;
        > div[class*="col"] {
            margin: 1.5rem 0;
        }
    }
}

// Contact Us Page
.contactUs {
    &__wrapper {
        min-height: var(--viewportHeight);
        position: relative;
        &:before, &:after {
            content: '';
            position: absolute;
        }
        &:before {
            background-color: var(--black);
            height: 100%;
            left: 0;
            opacity: 0.1;
            width: 58.333333%;
        }
        &:after {
            background-color: var(--sunflower);
            bottom: 0;
            height: 50vh;
            left: calc((58.333333%) - 3px);
            width: 5px;
        }
    }
    &__container {
        font : {
            family: $Lato-R;
            size: 1.25rem;
        }
        > div[class*="col"] {
            padding : {
                left: 6rem;
                right: 6rem;
            }
        }
    }
    &__header {
        margin-bottom: 3.5rem;
    }
    &__heading {
        @extend .shop__heading;
    }
    &__form {
        .form-control {
            border-color: var(--silver);
        }
    }
    &__formSubmit {
        align-items: center;
        background-color: var(--sunflower);
        border-radius: 30px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
        color: var(--rusty-red);
        display: inline-flex;
        font : {
            family: $Lato-B;
            size: 1.3125rem;
        }
        height: 60px;
        padding: 0 3.05rem;
        text-transform: uppercase;
        &:focus, &:hover {
            color: var(--rusty-red);
        }
    }
    &__title {
        font : {
            family: $MuroSlant;
            size: 2.125rem;
        }
    }
    &__list {
        > li {
            display: flex;
            margin-bottom: 2rem;
            &:not(:first-child) {
                font-family: $Lato-SB;
            }
        }
    }
    &__icon {
        margin-right: 1rem;
        > i {
            color: var(--sunflower);
            font-size: 2.5rem;
        }
    }
    &__detail {
        color: var(--white);
        letter-spacing: 0.55px;
        line-height: 1.59;
    }
    &__mapBtn {
        @extend .contactUs__formSubmit;

        height: 50px;
        font-size: 1.125rem;
        padding: 0 1.5rem;
        text-transform: none;
    }
    &__link {
        color: inherit;
        text-decoration: underline;
    }
}

// About Us Page
.pageBanner {
    &__inner {
        position: relative;
        &__cover {
            background : {
                position: center;
                repeat: no-repeat;
                size: cover;
            }
            height: var(--viewportHeight);
            position: absolute;
            width: 100%;
        }
        &__content {
            display: flex;
            height: var(--viewportHeight);
            position: relative;
            width: 100%;
            z-index: 1;
        }
    }
    &__title {
        @extend .page__header__title;

        text-shadow: 4px 5px 6px rgba(0, 0, 0, 0.2);
    }
    &__caption {
        font : {
            family: $Lato-I;
            size: 1.625rem;
        }
        letter-spacing: .68px;
        line-height: 1.67;
        margin: 1.5rem 0;
    }
    &__videoBtn {
        color: var(--rusty-red);
        display: inline-flex;
        padding: 0;
        .icon {
            background-color: var(--sunflower);
            border-radius: 50%;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.24);
            display: inherit;
            height: 7rem;
            position: relative;
            width: 7rem;
            z-index: 1;
            > i {
                color: inherit;
                font-size: 4rem;
            }
        }
        .text {
            background-color: var(--white);
            border-radius: 2.5rem;
            color: var(--rouge);
            display: inherit;
            font : {
                family: $Lato-B;
                size: 1.5rem;
            }
            height: 5rem;
            line-height: 1.21;
            margin-left: -5rem;
            padding: 0 4.15rem;
            > span {
                left: 2rem;
                position: relative;
            }
        }
        &:focus, &:hover {
            box-shadow: none;
            .icon {
                > i {
                    color: var(--rusty-red);
                }
            }
        }
    }
}
.about {
    .page {
        &__title {
            z-index: 1;
        }
    }
    &__details {
        font : {
            family: $Lato-R;
            size: 1.3125rem;
        }
        padding-top: 9.375rem;
        text-align: center;
    }
    &__heading {
        @extend .page__header__title;

        color: var(--sunshine-yellow);
        letter-spacing: 4px;
    }
    &__desc {
        letter-spacing: .53px;
        line-height: 1.67;
        margin-top: 3.5rem;
        > p {
            margin : {
                top: 0;
                bottom: 1.5rem;
            }
        }
    }
    &__people {
        margin-top: 1rem;
    }
    &__elements {
        height: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        > div {
            position: absolute;
        }
        .canvas-path {
            left: -15rem;
        }
        .line-path {
            left: -9rem;
            top: 7rem;
        }
        .ellipse {
            &-1 {
                right: -4rem;
                top: 15%;
            }
            &-2 {
                left: 7rem;
                top: 39%;
            }
            &-3 {
                left: 1rem;
                top: 79.5%;
                z-index: 2;
            }
        }
        .wave-line {
            left: -5rem;
            top: 50%;
            z-index: 1;
        }
    }
}
.whatsNew {
    background: url(../images/background/gb-whats-new.png) no-repeat;
    &__heading {
        @extend .page__header__title;

        margin : {
            bottom: -17rem;
            top: 5rem;
        }
    }
    &__list {
        @extend .cnn__list;

        margin-top: 6.25rem;
        min-height: 100vh;
        > .item {
            &:first-child, &:last-child {
                .page {
                    &__card {
                        flex-direction: column-reverse;
                    }
                }
            }
            &:first-child {
                align-self: flex-end;
                .page {
                    &__cardButton {
                        bottom: unset;
                        top: 2rem;
                    }
                }
            }
            &:last-child {
                align-self: center;
            }
        }
    }
}

// News Detail Page
.newsDetail {
    &__header {
        color: var(--white);
        position: relative;
        width: 100%;
    }
    &__cover {
        background : {
            position: center;
            size: cover;
        }
        height: 80vh;
        position: relative;
        width: inherit;
        &:after {
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 16%, var(--black) 112%);
            bottom: 0;
            content: '';
            display: block;
            position: absolute;
            height: 50%;
            width: 100%;
        }
    }
    &__text {
        bottom: 0;
        margin-bottom: 4.75rem;
        position: absolute;
        width: 100%;
        > .container-fluid {
            padding : {
                left: 4rem;
                right: 4rem;
            }
        }
        .breadcrumb {
            background-color: transparent;
            font : {
                family: $Lato-I;
                size: 1.5rem;
            }
            margin-bottom: 0;
            padding: .75rem 0;
            &-item {
                color: inherit;
                > a {
                    color: inherit;
                }
                + .breadcrumb-item {
                    &:before {
                        color: inherit;
                        content: ">";
                    }
                }
            }
        }
    }
    &__title {
        font : {
            family: $MuroSlant;
            size: 4.5rem;
        }
        letter-spacing: 1.8px;
        line-height: 1.11;
    }
    &__content {
        margin : {
            bottom: 7.5rem;
            top: 4.5rem;
        }
        &__wrapper {
            position: relative;
        }
    }
    &__share {
        margin-bottom: 3.75rem;
        > span {
            font : {
                family: $Lato-I;
                size: 1.375rem;
            }
            line-height: 3.81;
        }
        &__list {
            margin-left: 1rem;
            > li {
                margin: 0 .625rem;
            }
        }
        &__to {
            background-size: cover;
            height: 50px;
            width: 50px;
            &.facebook {
                background-image: url(../images/icon/awesome-facebook-f.png);
            }
            &.twitter {
                background-image: url(../images/icon/awesome-twitter.png);
            }
            &.whatsapp {
                background-image: url(../images/icon/ionic-logo-whatsapp.png);
            }
            &.line {
                background-image: url(../images/icon/simple-line.png);
            }
        }
    }
    &__article {
        font : {
            family: $Lato-R;
            size: 1.5rem;
        }
        letter-spacing: .6px;
        line-height: 1.46;
        > p {
            margin-bottom: 3rem;
            &:last-child {
                margin-bottom: 0
            }
        }
    }
    &__backToTop {
        background-color: var(--sunshine-yellow);
        border-radius: 50%;
        bottom: -2rem;
        color: var(--lipstick);
        height: 7.5rem;
        position: absolute;
        right: -11.5rem;
        width: 7.5rem;
        > div {
            margin-top: -0.5rem;
        }
        i {
            font : {
                size: 2.5rem;
                weight: bold;
            }
            margin-bottom: .25rem;
        }
        span {
            font : {
                family: $Lato-Med;
                size: 1.375rem;
                weight: bold;
            }
            line-height: 1.05;
        }
        &:focus, &:hover {
            box-shadow: none;
            color: var(--lipstick);
        }
    }
}

@import '_res';